@use "fonts";

$primary-color: #5500a4; 
$secondary-color: #cccccc; 
$accent-color: white;
$color: #000000; 
$heading-font-family: "RobotoCondensed-Bold"; 
$body-font-family: "RobotoCondensed-Regular";
$background-color: #0056b3; 